In [133]:
%matplotlib inline
import pandas as pd
import numpy as np
from textblob import TextBlob
import matplotlib as mpl
import matplotlib.pyplot as plt
import csv
import pickle
from scipy.io import loadmat
from sklearn.svm import SVC
from sklearn.svm import LinearSVC
import re 

from nltk.corpus import stopwords
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer ,TfidfVectorizer,TfidfTransformer
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score,learning_curve
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import classification_report, f1_score, confusion_matrix, roc_auc_score
from sklearn.pipeline import Pipeline
from sklearn.model_selection import KFold
from sklearn.tree import DecisionTreeClassifier 
from sklearn.naive_bayes import MultinomialNB
import re
from sklearn.linear_model import LogisticRegression
import math
import json

In [11]:
def isnotNaN(num):
    return num == num

def tokenize(review):
    return TextBlob(review).words

LOCAL_PATH = ''

In [105]:
len(myl)  # [[text, label],[text,label],...]

9744

In [106]:
df = pd.DataFrame(myl, columns=['text', 'label'])
df.head()

                                                text  label
0  ما برفتیم، تو دانی و دل غمخور ما بخت بد تا به ...      2
1  صبح دولت می‌دمد کو جام همچون آفتاب فرصتی زین ب...      2
2  اگر به لطف بخوانی مَزید الطاف است وگر به قهر ب...      2
3  غمش تا در دلم مَأوا گرفته است سرم چون زلف او س...      2
4  ببین هلالِ محرّم بخواه ساغر راح که ماه اَمن و ...      2

In [112]:
all_data = df.copy()

In [113]:
all_data.head()

                                                   text  label
5776  گفتم که ز عشقت شده‌ام دیوانه زنجیر ترا به خواب...      3
2857  وزان جایگه شاه لشکر براند به ایران خرامید و رس...      4
9705  ای ملک جانوران رای تو وی گهر تاجوران پای تو گر...      5
1263  گواهی امین است بر درد من سرشک روان بر رخ زرد م...      1
295   خستگان را چو طلب باشد و قوت نبود گر تو بیداد ک...      2

In [114]:
from sklearn.utils import shuffle
all_data = shuffle(all_data, random_state= 666)

In [116]:
all_data.head().text.apply(tokenize)

In [134]:
all_data.head().text

1350    گر کنم در سر وفات سری سهل باشد زیان مختصری ای ...
232     چه مستیست ندانم که رو به ما آورد که بود ساقی و...
2206    هر که با من بدست و با تو نکو دل منه بر وفای صح...
3827    بلک از چفسیدگی در خان و مان تلخشان آید شنیدن ا...
2586    چو شد روزگار تهمتن به سر به پیش آورم داستانی د...
Name: text, dtype: object

In [119]:
bow_transformer = CountVectorizer().fit(all_data['text'])
print(len(bow_transformer.vocabulary_))
review_bow = bow_transformer.transform(all_data['text'])
print( 'sparse matrix shape:', review_bow.shape)
print('number of non-zeros:', review_bow.nnz) #learn this
print( 'sparsity: %.2f%%' % (100.0 * review_bow.nnz))

sparse matrix shape: (4197, 46603)
number of non-zeros: 658568
sparsity: 65856800.00%

In [120]:
tfidf_transformer =TfidfTransformer().fit(review_bow)
review_tfidf = tfidf_transformer.transform(review_bow)
review_tfidf.shape

(4197, 46603)

In [121]:
len(all_data)

4197

In [122]:
text_train, text_test, label_train, label_test = train_test_split(all_data['text'], all_data['label'],
                                                                  test_size=0.15)
print(np.shape(text_train), np.shape(text_test), np.shape(label_train) , np.shape(label_test))

(3567,) (630,) (3567,) (630,)

In [124]:
label_train=label_train.astype('int')

In [125]:
clf = Pipeline([('vect', CountVectorizer()),
#                      ('tfidf', TfidfTransformer()),
                     ('clf', SVC(kernel='linear')),
                     ])

In [126]:
clf.fit(text_train, label_train)

Pipeline(memory=None,
     steps=[('vect', CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip...r', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False))])